backend/auth/node_modules/
backend/auth/.editorconfig
backend/auth/.eslintignore
backend/auth/.eslintrc.json
backend/auth/.prettierignore
backend/auth/.prettierrc.json
backend/auth/.env
backend/auth/.env.example
backend/auth/jest.config.js
backend/auth/README.md
backend/auth/dist/

backend/email/node_modules/
backend/email/.editorconfig
backend/email/.eslintignore
backend/email/.eslintrc.json
backend/email/.prettierignore
backend/email/.prettierrc.json
backend/email/.env
backend/email/.env.example
backend/email/jest.config.js
backend/email/README.md
backend/email/dist/

backend-for-frontend/web/onboard-bff/node_modules/
backend-for-frontend/web/onboard-bff/.editorconfig
backend-for-frontend/web/onboard-bff/.eslintignore
backend-for-frontend/web/onboard-bff/.eslintrc.json
backend-for-frontend/web/onboard-bff/.prettierignore
backend-for-frontend/web/onboard-bff/.prettierrc.json
backend-for-frontend/web/onboard-bff/.env
backend-for-frontend/web/onboard-bff/.env.example
backend-for-frontend/web/onboard-bff/jest.config.js
backend-for-frontend/web/onboard-bff/README.md
backend-for-frontend/web/onboard-bff/dist/
